# https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

# Tab Switching, https://github.com/atom/atom/pull/10737#issuecomment-210076317
'body':
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'alt-cmd-w': 'unset!'
  'alt-cmd-w': 'tabs:close-other-tabs'

# Expand Region Package, https://atom.io/packages/expand-region
'atom-text-editor':
  'alt-up': 'expand-region:expand'
  'alt-down': 'expand-region:shrink'
