# http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/

'body':
  # Tab Switching, https://github.com/atom/atom/pull/10737#issuecomment-210076317
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'alt-cmd-w': 'unset!'
  'alt-cmd-w': 'tabs:close-other-tabs'

'atom-text-editor':
  'cmd--': 'editor:toggle-line-comments'
  # Expand Region Package, https://atom.io/packages/expand-region
  'alt-up': 'expand-region:expand'
  'alt-down': 'expand-region:shrink'
