// style the background and foreground colors on the atom-text-editor-element itself.
atom-text-editor {
    font-family  : 'SourceCodePro-Medium', monospace;
    font-size    : 13px;
    fontSmoothing: subpixel-antialiased;
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow {
    .cursor {
        // border-color: red;
    }

    .selection .region {
        background-color: #ade2ff;
    }
}
